type html 
(lang="en")
  title landing page 
  body #page=top 
    nav#mainNav.navbar.navbar-default.navbar-fixed-Top= 
    block content 
    
    
    extends or inherits 
    
    
    extends. layout.jade 
    block content 
    
    partials is a convention- other devs will know what it is for 
    
    
    Layout.jade 
    
    //head file 
    head 
        title Lading Page
          link(rel='stylesheet', hred='/static/css/bootstrap.css',type='text/css')
          link (rel='stylesheet', href='/static/css/creative.css')
          gOODLE CONTENT DEliviery network-- including custom fonts in brower 
        
        
        
        -------
   ///body file  
    body #page-top
    include ./partials/_nav.jade
    
    
    include.partials/_head.jade 
    
    
    how to convert an object to an array 
    
    postLists= object.keys(posts).map(function(value)
    {return post [value]})
    
    
    blog
    
    block conetnet 
      each post in posts
        h1 #{post,tile}
        p #{post,description}
        
how to use logic in jade 
add if block if only need things for certain pages 

if path=== '/'


    
    